grafana:
  adminPassword: admin

  additionalDataSources:
    - name: Loki
      type: loki
      url: http://loki-stack.monitoring.svc.cluster.local:3100
      access: proxy
      isDefault: false
      editable: true

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 10Gi

kube-state-metrics:
  metricLabelsAllowlist:
    - pods=[managed-by,project-id,deployment-id]
    - deployments=[managed-by,project-id,deployment-id]
