grafana:
  adminPassword: admin
prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 10Gi

kube-state-metrics:
  metricLabelsAllowlist:
    - pods=[managed-by,project-id,deployment-id]
    - deployments=[managed-by,project-id,deployment-id]
