apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: compute-provisioner-cr
rules:
  - apiGroups: [""]
    resources: ["pods", "services", "secrets", "configmaps"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["apps"]
    resources: ["deployments", "statefulsets"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: compute-provisioner-crb
spec:
roleRef:
  kind: ClusterRole
  name: compute-provisioner-cr
  apiGroup: rbac.authorization.k8s.io
