loki:
  enabled: true
  isDefault: false
  commonConfig:
    replication_factor: 1
  storage:
    type: "filesystem"
  deploymentMode: SingleBinary
  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      size: 10Gi

promtail:
  enabled: true
  config:
    clients:
      - url: http://loki:3100/loki/api/v1/push

grafana:
  enabled: false
prometheus:
  enabled: false
fluent-bit:
  enabled: false
filebeat:
  enabled: false
