tempo:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"

  metricsGenerator:
    enabled: true
    remoteWriteUrl: "http://prometheus-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090/api/v1/write"

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces

persistence:
  enabled: true
  storageClassName: local-path
  size: 10Gi
